body {
    background-image: url("https://aka-cdn.adtechus.com/apps/73/Ad0St3Sz5112Sq0V0Id26745417/Commenter_Background_White_170420.jpg" );
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: block;
    background-repeat: no-repeat;
  }
  .contact__forms {
    float: right;
    margin-right: 150px;
  }
  
  .signup {
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    width: 360px;
    min-height: 550px;
    z-index: 1;
    padding: 0 5px;
    border-top: 1px solid #f1f1f5;
  }
  
  .form {
    margin-top: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    width: 360px;
    min-height: 550px;
    z-index: 1;
    padding: 0 5px;
    border-top: 1px solid #f1f1f5;
  }
  
  h1, p{
    text-align: center;
  }
  
  h1 {
    background-color: rgb(19, 146, 19);
    padding: 5px;
  }
  input {
    width: 97%;
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: solid 1px;
  }
  
  textarea{
    width: 97%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: 1px solid black;
  }
  
  input[type="submit"]{
    background: black;
    color: white;
    font-size: 1.2rem;
    padding:13px 20px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 80px;
  }
  
  input[type="submit"]:hover{
    background: rgb(19, 146, 19);
    color: white;
  }