.square__post h2 {
    background-color: rgb(19, 146, 19);
    padding: 5px;
  }
  
  .square__post{
    border: black;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    padding: 5px;
  }
  
  .recent__section{
    float: right;
    margin-top: -25%;
    margin-right: 7%;
  }
  
  h3 {
    background-color: rgb(19, 146, 19);
    padding: 5px;
  }
  
  h4 {
    border-bottom: black solid;
  }