.square__post h2 {
    background-color: rgb(19, 146, 19);
    padding: 5px;
  }
  
  .square__post{
    border: black;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(181,181,181,.7);
    padding: 5px;
    margin-top: 5%;
    margin-bottom: -16%;
  }
  
  .recent__section{
    float: right;
    margin-top: -215%;
    margin-right: 5%;
  }
  
  .recent__post {
    background-color: rgb(19, 146, 19);
    padding: 5px;
  }
  
  .recent__title {
    border-bottom: black solid;
    max-width: 400px;
  }
  .commentname{
    margin-bottom: 0px;
    text-decoration: underline;
    font-weight: bold;
  }
  .commentdescription{
    margin: 0px;
    font-style: italic;
    margin-bottom: 5px;
  }
  .createcomment{
    margin-top: 10spx;
  }