  /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* NavBar */
#navbar {
  background: radial-gradient(circle, rgba(0,165,98,1) 0%, rgba(0,177,0,1) 55%);
  color: #000000;
  overflow: auto;
}
.nav-container a, ul {
  color: black;
  font-size: 1.5rem;
  list-style: none;
  float: right;
  text-decoration: none;
  margin: 10px;
}
#navbar h1 {
  float: left;
  padding: 20px;
  margin-left: 50px;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
  background: white;
  color: #00B100;
  transition: .3s;
}

/* Home Page */
.showcase {
  background: url('/img/tc-article.jpg') no-repeat center center/cover;
  height: 100vh;
}
.article-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 3%;
  max-width: 75%;
  margin-left: 12%;
}
.grid-item {
  box-shadow: 0 8px 16px 0 rgba(11, 159, 28, 0.2);
  background-color: white;
  height: 700px;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.article-img {
  width: 100%;
  height: fit-content;
}

#article-writer:hover {
  color: #00A562;
}

.card {
  float: left;
  margin: 33px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(11, 159, 28, 0.2);
}

/* Events and Advertise */
.hero-image {
  background: url('/img/TC_Disrupt_Social_FB4.jpg') no-repeat center center/cover;
  height: 100vh;
  filter: brightness(30%);
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: start;
}

.hero-text h1 {
  font-size: 5.5rem;
  font-weight: bold;
}

.hero-text p {
  font-size: 1.8rem;
  margin-top: 20px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;;
}

.hero-text button {
  width: 20%;
  padding: 20px;
  margin-top: 20px;
  font-size: 30px;
}

.advertise-container{
  margin: 150px;
}

.advertise-container .advertise-calendar {
  font-size: 7rem;
  font-weight: bold;
  border-bottom: 5px solid #00A562;
  display: inline-block;
}

.advertise-container  li {
  font-size: 2rem;
}

.events-button {
  text-decoration: none;
  list-style: none;
  color: black;
  width: 20%;
  padding: 20px;
  font-size: 2rem;
  margin-top: 10px;
  background: linear-gradient(to right, #00A562 , #00B100);
  
}
.advertise-image{
  float: right;
  width: 40%;
}

.events-card-button{
  width: 40%;
  padding: 10px;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-left: 120px;
  background: linear-gradient(to right, #00A562 , #00B100);
}

.events-card-button:hover{
  background: white;
  color: #00B100;
}
.events-button:hover {
  background: white;
  color: #00B100;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-left: 120px;
  margin-bottom: -20%;
}

.events-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: start;
  background-color: #f1f1f1;
  height: 700px;
}

/* Footer */
footer{
  margin: auto;
  background: radial-gradient(circle, rgba(0,165,98,1) 0%, rgba(0,177,0,1) 35%);
  position: relative;
  margin-top: 550px;
  padding: 20px;
}

.footerContainer {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.quickLinks {
  float: left; 
  text-align: start;
}

.socialmedia {
  width: 64px;
  text-align: center;
  padding: 5px;
}

.footer-nav {
  color: rgb(29, 28, 28);
  text-decoration: none;
  list-style: none;
}


.copyright p {
  text-align: center;
  margin-top: 4%;
} 